body {
  width: 960px;
  margin: 0 auto;
  background-color: #87e71154;
  font-size: 20px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: #4a0202b7;
}

header[role="banner"] {
  margin-top: 20px;
  height: 135px;
  background-color: #c5ff9b;
  border: solid 10px rgba(170, 19, 123, 0.894);
}

h1 {
  font-size: 60px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
  margin: 5px 0 0 0;
}

nav {
  margin: 0 auto;
  width: 800px;
}

nav ul {
  text-align: center;
  font-family: Arial, Verdana;
  font-size: 18px;
  list-style: none;
}

nav ul li {
  display: inline-block;
  height: 20px;
  width: 95px;
  margin: 0 55px 0 5px;
  white-space: nowrap;
}

nav ul li a {
  text-decoration: none;
  padding: 5px 20px;
  background: #87e71178;
  color: #ffffff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
  border: solid 4px white;
}

nav ul li a:hover{
  opacity:0.5;
  border: solid 4px black;
}

article {
  position: relative;
  top: 35px;
  background-color: #c5ff9b;
  border: double 10px rgba(170, 19, 123, 0.894);
  text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
  height: 600px;
  width: 600px;
}

article h2 {
  color: #4a0202b7;
  font-size: 24px;
  line-height: 1.75;
  margin: 20px 0 0 0;
  padding: 10px 20px;
}

article p {
  color: rgba(0, 0, 0, .5);
  line-height: 24px;
  padding: 2px 20px;
}

section {
  background-color: #3d883858;
  border: double 4px rgba(170, 19, 123, 0.894);
  padding: 0px;
  margin: 10px 10px;
}

section h3 {
  color: #4a0202b7;
  font-size: 22px;
  line-height: 14px;
  margin: 10px 0 0 0;
  padding: 20px 5px 0 20px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
}

section p {
  color: #4a0202b7;
  font-size: 16px;
  font-style: italic;
  line-height: 22px;
}

aside {
  position: relative;
  top: -530px;
  left: 640px;
  background-color: #92be7257;
  border: solid 8px rgba(170, 19, 123, 0.894);
  height: 600px;
  width: 302px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
}

aside h3 {
  color: #4a0202b7;
  font-size: 24px;
  line-height: 20px;
  margin: 20px 0px 0px 0px;
  padding: 10px 20px;
}

aside p {
  color: rgba(0, 0, 0, .5);
  line-height: 22px;
  padding: 0 20px;
}

aside ul li{
  display:inline-grid;
  margin: 30 55px 0 6px;
  white-space: nowrap;
}

aside ul li a{
  text-decoration: none;
  padding: 5px 5px;
  background: #87e71178;
  color: #ffffff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
  border: solid 4px white;
}

aside ul li a:hover{
  opacity:0.5;
  border: dashed 4px black;
}

img {
  margin: 20px 160px 10px ;
}

footer {
  text-align: center;
  position: relative;
  top: -500px;
  background-color: #c5ff9b;
  border: solid 8px rgba(170, 19, 123, 0.894);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}