body{
  margin: auto;
  width: 960px;
  font-size: 20px;
  font-family: Times, serif;
  background-color: #6562e85f;
  color:rgb(56, 38, 38);
}

header [role="banner"]{
  position:relative;
  top:20px;
  background-color:#ff9bf75f;
  height: 135px;
  border-style: solid;
  border-width:10px;
  border-color:rgb(246, 246, 238);
}

h1{
  font-size: 60px;
  text-align:center;
  color:crimson;
  text-shadow: 0px 1px 1px rgba(32, 31, 31, 0.5);
  margin: 0px 0px 0px 0px;
}
