body {

	background-image:url("../images/Background.png");
	background-attachment: fixed;
}

.header {

	padding:  50px 0 0 0;
}

.intro {

	font-family:'Arial Narrow Bold', sans-serif;
	color:rgb(80, 4, 4);
	font-size:30px;
}

.question {

	display:inline-block;
}