body {

	background-image:url("../images/Background.png");
	background-attachment: fixed;
}

.header {

	padding:  50px 0 0 0;
}

.bars {
	width: 10px;
	height: 10px;
	background: black;
	transition: height 1s;
  }
  
  .bars:hover {
	
	height: 300px;
  }

.intro{

	font-family:'Arial Narrow Bold', sans-serif;
	font-weight:bolder;
	color:rgb(54, 54, 54);
	font-size:70px;
}

.image:hover{

	transform: scale(1.2);
	
}

.question {

	display:inline-block;
}