body {

	background-image:url("../images/Background.png");
	background-attachment: fixed;
}

.header {

	padding:  50px 0 0 0;
}

.intro {

	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	color:aliceblue;
	font-size: medium;
}

.question {

	display:inline-block;
}