body{
  color: white;
  background-color: rgb(24, 4, 98);
}
.InstructionsImg{
 display: block;
 margin-left: auto;
 margin-right: auto;
 position: relative;
 bottom:150px;
 right:20px;
}
.BlueDotImg{
 display: block;
 margin-left: auto;
 margin-right: auto;
}
.ArgentinaImg{
  position: relative;
  bottom: 495px;
  left: 590px;
}
.PolandImg{
  position:relative;
  bottom: 750px;
  left:750px;
}
.JapanImg{
  position:relative;
  
}
.ArgentinaImg:hover, .PolandImg:hover, .JapanImg:hover{
  opacity:0.5;
  color:blueviolet;
}
.

/*
.Vvisit{
  font-family: "Courier";
  font-size: 20px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 20s steps(50, end);
}
.Ivisit{
  font-family: "Courier";
  font-size: 20px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 40s steps(50, end);
}
.Svisit{
  font-family: "Courier";
  font-size: 20px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 60s steps(50, end);
}
.I2visit{
  font-family: "Courier";
  font-size: 20px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 80s steps(50, end);
}
.Tvisit{
  font-family: "Courier";
  font-size: 20px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 100s steps(50, end);
}
@keyframes type{ 
  from { width: 0; } 
}
*/
  