body{
  color: white;
  background-color: rgb(24, 4, 98);
}
.InstructionsImg{
 display: block;
 margin-left: auto;
 margin-right: auto;
 position: relative;
 bottom:150px;
 right:20px;
}
.BlueDotImg{
 display: block;
 margin-left: auto;
 margin-right: auto;
}
.ArgentinaImg{
  position: relative;
  bottom: 480px;
  left:630px;
}
.PolandImg{
  position:relative;
  bottom: 750px;
  left:750px;
}
.JapanImg{
  position:relative;
  bottom:620px;
  left:800px;
}
.ArgentinaImg:hover, .PolandImg:hover, .JapanImg:hover{
  opacity:0.5;
  outline-color:blueviolet;
}
