body{
  color: black;
}

.InstructionsImg{
  position:relative;
  border:3px solid #73AD21; 
  top:30px;
}
.BlueDotImg{
  position:relative;
  left:10px;
  border:3px solid #73AD21;
}


.Vvisit{
  font-family: "Courier";
  font-size: 20px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 20s steps(50, end);
}
.Ivisit{
  font-family: "Courier";
  font-size: 20px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 40s steps(50, end);
}
.Svisit{
  font-family: "Courier";
  font-size: 20px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 60s steps(50, end);
}
.I2visit{
  font-family: "Courier";
  font-size: 20px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 80s steps(50, end);
}
.Tvisit{
  font-family: "Courier";
  font-size: 20px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 100s steps(50, end);
}
@keyframes type{ 
  from { width: 0; } 
}

  