<<<<<<< 
body {
=======
p{
    color:green
}
>>>>>>> 3cad76e320c16ece7741d3537bfd85822b07374c

<<<<<<< HEAD
}
=======
p{
    border: solid;
  }
>>>>>>> 3cad76e320c16ece7741d3537bfd85822b07374c

h4{
    font-family: 'Courier New', Courier, monospace
}


